[Unit]
Description=stream audio to the headphones
After=network-online.target

[Service]
PIDFile=/var/run/audiostream/audiostream.pid
ExecStart=/usr/bin/python3 /home/seb/GitHub/aircraft-seat/app/audiostream.py
KillMode=process
TimeoutSec=infinity
PrivateTmp=false
OpenFile=/tmp/audiostatus

[Install]
WantedBy=graphical.target