[Unit]
Description=stream audio to the headphones
After=network-online.target

[Service]
PIDFile=/var/run/audiostream/audiostream.pid
ExecStart=/usr/bin/python3 /home/seb/GitHub/aircraft-seat/app/audiostream.py
Restart=always
RestartSec=5s
KillMode=process
TimeoutSec=infinity
PrivateTmp=false

[Install]
WantedBy=network-online.target