[Unit]
Description=stream audio to the headphones
RequiresMountsFor=/tmp

[Service]
PIDFile=/var/run/audiostream/audiostream.pid
ExecStart=/usr/bin/python3 /home/seb/GitHub/aircraft-seat/app/audiostream.py
KillMode=process
TimeoutSec=infinity
PrivateTmp=false
OpenFile=/tmp/audiostream/audiostatus
OpenFile=/tmp/audiostream/audiochannel:read-only
OpenFile=/tmp/audiostream/audiovolume:read-only

[Install]
WantedBy=graphical.target