[Unit]
Description=Use an LED to indicate the audio status
RequiresMountsFor=/tmp

[Service]
PIDFile=/var/run/indicator/indicator.pid
ExecStart=/usr/bin/python3 /home/seb/GitHub/aircraft-seat/app/indicator.py
KillMode=process
TimeoutSec=infinity
PrivateTmp=false
OpenFile=/tmp/audiostatus:read-only

[Install]
WantedBy=graphical.target
